mixin address(address)
    table(class="bordered")
        thead
        tbody
            tr
                td= "Name"
                td= address.name
            tr
                td= "Street"
                td= address.street
            tr
                td= "City"
                td= address.city
            tr
                td= "State"
                td= address.state
            tr
                td= "Postal Code"
                td= address.postal
            tr
                td= "Country"
                td= address.country