div(class="input-field col s6")
    input(name="fname" placeholder="Fred" id="fname")
    label(class="active" for="fname")= "First Name"

div(class="input-field col s6")
    input(name="lname" placeholder="Flintstone")
    label(class="active" for="lname")= "Last Name"

div(class="input-field col s6")
    input(name="street" placeholder="123 Awesome Street")
    label(class="active" for="street")= "Street"

div(class="input-field col s6")
    input(name="city" placeholder="Bedrock")
    label(class="active" for="city")= "City"

div(class="input-field col s6")
    input(name="state" placeholder="CA")
    label(class="active" for="state")= "State"

div(class="input-field col s6")
    input(name="postal" placeholder="90210")
    label(class="active" for="postal")= "Postal Code"
    
div(class="input-field col s6")
    input(name="country" placeholder="US")
    label(class="active" for="country")= "Country"
