div(class="row")
    div(class="col s12")
        div(class="card")
            span(class="card-title")= "Order Information"
            div(class="card-content")
                table(class="bordered")
                    thead
                    tbody
                        tr
                            td= "ID"
                            td(id="transactionId")
                        tr
                            td= "Amount"
                            td(id="transactionAmount")
                        tr
                            td= "Status"
                            td(id="transactionStatus")
                        tr
                            td= "Timestamp"
                            td(id="transactionTimestamp")
    

