include ../../shared/views/header.pug
div(class="container")
    h3= "Return URL/Confirmation"
    div(class="row")
        div(class="col s12")
            div(class="card")
                span(class="card-title")= "PayPal Account Information"
                div(class="card-content")
                    include ../../shared/views/paypalaccount.pug
                    +accountinfo({ 
                        email: EMAIL,
                        phone: PHONENUM,
                        status: PAYERSTATUS,
                        fname: FIRSTNAME,
                        lname: LASTNAME,
                    })
    div(class="row")
        div(class="col s12")
            div(class="card")
                span(class="card-title")= "Shipping Address"
                div(class="card-content")
                    include ../../shared/views/address.pug
                    +address({
                        name: PAYMENTREQUEST_0_SHIPTONAME, 
                        street: PAYMENTREQUEST_0_SHIPTOSTREET,
                        city: PAYMENTREQUEST_0_SHIPTOCITY,
                        state: PAYMENTREQUEST_0_SHIPTOSTATE,
                        postal: PAYMENTREQUEST_0_SHIPTOZIP,
                        country: PAYMENTREQUEST_0_SHIPTOCOUNTRYCODE
                    })
    
    div(class="row")
        div(class="col s12")
            div(class="card")
                span(class="card-title")= "Order Information"
                div(class="card-content")
                    include ../../shared/views/order.pug
                    +order({
                        total: AMT,
                        currency: CURRENCYCODE,
                    })

    div(class="row")
        div(class="col s12")
            div(class="card")
                div(class="card-actions")
                    form(method="post" action="/classic/doexpresscheckout")
                        input(type="hidden" name="token" value=TOKEN)
                        input(type="hidden" name="payerid" value=PAYERID)
                        input(type="hidden" name="amount" value=AMT)
                        input(type="hidden" name="payment" value=PAYMENTACTION)
                        input(type="submit" class="waves-effect waves-light btn" style="width: 100%" value="Place Order")

    
include ../../shared/views/footer.pug